# String Based Assingment Problem

In [ ]:
# 1.Write a program to reverse a string.

In [2]:
name = 'Python'
reverse_name = name[::-1]
print(reverse_name)

nohtyP

In [3]:
# 2.Check if a string is a palindrome.

In [4]:
def isPalindrome(string):
    if (string == string[::-1]):
        print("Given String is Palindrome")
    else:
        print("Given String is not a Palindrome")
string = input("Enter a string :- ")
print(isPalindrome(string))

Enter a string :- toyot
Given String is Palindrome
None

In [ ]:
# 3.Convert a string to uppercase.

In [5]:
name = 'kavinkrishna'
print(name.upper())

KAVINKRISHNA

In [ ]:
# 4.Convert a string to lowercase.

In [7]:
user = 'MYTHILI'
print(user.lower())

mythili

In [ ]:
# 5. Count the number of vowels in a string.

In [17]:
strr = input('Enter a string:- ')
vowel_count = 0
vowels = ['a','e','i','o','u']
strr = strr.lower()
for char in strr:
    if char in vowels:
        vowel_count += 1
print(f"Number of vowels present:- '{vowel_count}'")

Enter a string:- hi how are you
Number of vowels present:- '6'

In [1]:
#6. Count the number of consonants in a string.

In [16]:
str1 = input('Enter a string:- ')
consonant_count = 0
vowels = {'a','e','i','o','u'}
str1 = str1.lower()
for char in str1:
    if char.isalpha() and char not in vowels:
        consonant_count += 1
print(f"Number of consonants present:- '{consonant_count}'")

Enter a string:- Kavi priyan
Number of consonants present:- '6'

In [ ]:
# 7.Remove all whitespaces from a string.

In [2]:
str1 = " che nn a i"
str1 = str1.replace(" ","")
print(str1)

chennai

In [ ]:
# 8. Find the length of a string without using the `len()` function.

In [7]:
input_string = input('Enter a string:- ')
length = 0
for char in input_string:
    length += 1
print(length)

Enter a string:- world cup 2023
14

In [ ]:
# 9. Check if a string contains a specific word.

In [11]:
events = ['dance','singing','mime','drama'] 
print('mime' in events)

True

In [ ]:
#10. Replace a word in a string with another word.

In [13]:
abc = 'He scored a fifty'
abc = abc.replace('fifty','hundred')
print(abc)

He scored a hundred

In [ ]:
#11. Count the occurrences of a word in a string.

In [14]:
input_str = input('Enter a sentence:- ')
target_word = input('Enter the target word:- ')
word_count = 0
words = input_str.split()
for word in words:
    if word == target_word:
        word_count += 1
print(word_count)

Enter a sentence:- dhoni finishes off in style india lift the worldcup
Enter the target word:- india
1

In [ ]:
#14. Split a string into a list of words.

In [15]:
str2 = input('Enter a sentence:- ')
str2 = str2.split()
print(str2)

Enter a sentence:- Dont lose your hope
['Dont', 'lose', 'your', 'hope']

In [ ]:
#15. Join a list of words into a string.

In [16]:
str3 = ['Keep','on','trying']
str3 = ''.join(str3)
print(str3)

Keepontrying

In [ ]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [1]:
original_string = 'Leo Trailer is out now!'
underscored_string = original_string.replace(" ","_")
print(underscored_string)

Leo_Trailer_is_out_now!

In [ ]:
#17. Check if a string starts with a specific word or phrase.

In [3]:
string = "India facing Australia on 8th october"
specific_word = 'India'
if string.startswith(specific_word):
    print(f"String starts with the word '{specific_word}'")
else:
    print(f"String not starts with the word '{specific_word}'")

String starts with the word 'India'

In [ ]:
#18. Check if a string ends with a specific word or phrase.

In [1]:
string = "India facing Australia on 8th october"
specific_word = 'october'
if string.endswith(specific_word):
    print(f"String ends with the word '{specific_word}'")
else:
    print(f"String not ends with the word '{specific_word}'")

String ends with the word 'october'

In [ ]:
#19. Convert a string to title case

In [6]:
string = 'im a human'
modified_string = string.title()
print(modified_string)

Im A Human

In [ ]:
#20. Find the longest word in a string.

In [7]:
string = 'I like ice cream'
string_split = string.split()
longest_word = ''
max_length = 0
for word in string_split:
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word
print(f"The longest word in thr string is '{longest_word}'")

The longest word in thr string is 'cream'

In [ ]:
#21. Find the shortest word in a string.

In [8]:
string = 'I like ice cream'
string_split = string.split()
shortest_word = None
min_length = float('inf')
for word in string_split:
    if len(word) < min_length:
        min_length = len(word)
        shortest_word = word
print(f"The shortest word in thr string is '{shortest_word}'")

The shortest word in thr string is 'I'

In [ ]:
#22. Reverse the order of words in a string.

In [9]:
string = 'Be bold and brave'
words = string.split()
rev_string = ' '.join(reversed(words))
print(rev_string)

brave and bold Be

In [ ]:
#23. Check if a string is alphanumeric.

In [13]:
string = 'hi5'
print(string.isalnum())

True

In [ ]:
#24. Extract all digits from a string.

In [14]:
string = '123Hello456'
digits = []
for char in string:
    if char.isdigit():
        digits.append(char)
print(digits)

['1', '2', '3', '4', '5', '6']

In [ ]:
#25. Extract all alphabets from a string.

In [15]:
string = '123Hello456'
alphabets = []
for char in string:
    if char.isalpha():
        alphabets.append(char)
print(alphabets)

['H', 'e', 'l', 'l', 'o']

In [ ]:
#26. Count the number of uppercase letters in a string.

In [16]:
string = "Hello WorLd"
uppercase_count = 0
for char in string:
    if char.isupper():
        uppercase_count += 1
print(uppercase_count)

3

In [ ]:
#27. Count the number of lowercase letters in a string.

In [17]:
string = "Hello WorLd"
lowercase_count = 0
for char in string:
    if char.islower():
        lowercase_count += 1
print(lowercase_count)

7

In [ ]:
#28. Swap the case of each character in a string.

In [18]:
string = "Good Afternoon"
string = string.swapcase()
print(string)

gOOD aFTERNOON

In [ ]:
#29. Remove a specific word from a string.

In [22]:
string = "I like oreo milkshake"
word_to_remove = 'oreo'
string = string.replace(word_to_remove,"")
print(string)

I like  milkshake

In [ ]:
#30. Check if a string is a valid email address.

In [23]:
email = 'sample@gmail.com'
if "@" in email and "." in email and not any(char.isupper() for char in email):
    print(f"'{email}' is a valid email address")
else:
    print(f"'{email}' is not a valid email address")

'sample@gmail.com' is a valid email address

In [ ]:
#31. Extract the username from an email address string.

In [24]:
email = 'sample@gmail.com'
user_name = email.split("@")[0]
print(user_name)

sample

In [ ]:
#32. Extract the domain name from an email address string.

In [25]:
email = 'sample@gmail.com'
domain_name = email.split("@")[1]
print(domain_name)

gmail.com

In [ ]:
#33. Replace multiple spaces in a string with a single space.

In [27]:
string = "Python    was    easy     and            powerful"
string = ' '.join(string.split())
print(string)

Python was easy and powerful

In [ ]:
#34. Check if a string is a valid URL.

In [28]:
url = 'https://www.w3schools.com/python/python_strings_methods.asp'
if url.startswith('http://') or url.startswith('https://'):
    print(f"'{url}' is a valid URL")
else:
    print(f"'{url}' is not a valid URL")

'https://www.w3schools.com/python/python_strings_methods.asp' is a valid URL

In [ ]:
#35. Extract the protocol (http or https) from a URL string.

In [3]:
url = 'https://www.w3schools.com/pj'
parts = url.split('://')
if parts[0]=="http" or parts[0]=="https":
    protocol = parts[0]
    print(f"The protocol is '{protocol}''")
else:
    print("Invalid protocol")

The protocol is 'https''

In [ ]:
#36. Find the frequency of each character in a string.

In [32]:
string = "Manjunathan"
character_frequency = {}
for char in string:
    if char.isalnum():
        if char in charcter_frequency:
            character_frequency[char] += 1
        else:
            character_frequency[char] = 1
for char, count in character_frequency.items():
    print(f"'{char}' appears '{count}' times.")

'M' appears '1' times.
'a' appears '3' times.
'n' appears '3' times.
'j' appears '1' times.
'u' appears '1' times.
't' appears '1' times.
'h' appears '1' times.

In [ ]:
#37. Remove all punctuation from a string.

In [36]:
string = "Morning i ate 3 dosa, 2 vada, 1 coffee. Now i want briyani. "
punctuation = '''!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~'''
cleaned_string = " "
for char in string:
    if char not in punctuation:
        cleaned_string += char
print(cleaned_string)

 Morning i ate 3 dosa 2 vada 1 coffee Now i want briyani

In [ ]:
#38. Check if a string contains only digits.

In [37]:
input_string = "1234567"
print(input_string.isdigit())

True

In [ ]:
#39. Check if a string contains only alphabets.

In [38]:
input_string = "prakaashraj"
print(input_string.isalpha())

True

In [ ]:
#40. Convert a string to a list of characters.

In [41]:
string = "NaveenaMaria"
char_list = [char for char in string]
print(char_list)

['N', 'a', 'v', 'e', 'e', 'n', 'a', 'M', 'a', 'r', 'i', 'a']

In [ ]:
#41. Check if two strings are anagrams.

In [1]:
string1 = 'silent'
string2 = 'listen'
string1 = string1.replace(" ",  "").lower()
string2 = string2.replace(" ",  "").lower()
if len(string1) != len(string2):
    print("They are not anagrams")
else:
    if sorted(string1) == sorted(string2):
        print("They are anagrams")
    else:
        print("They are not anagrams")

They are anagrams

In [ ]:
#42. Encode a string using a Caesar cipher.

In [5]:
def ceaser_cipher(text, shift):
    result = ""
    for char in text:
        if char.isalpha():
            if char.islower():
                shifted_char = chr(((ord(char) - ord('a')+shift) % 26) + ord('a'))
            else:
                 shifted_char = chr(((ord(char) - ord('A')+shift) % 26) + ord('A'))
        else:
            shifted_char = char
        result += shifted_char
    return result
orig_txt = "kavin"
shift = 3
encrypt = ceaser_cipher(orig_txt, shift)
print(f"Original text:-  {orig_txt}")
print(f"Encrypted text:-  {encrypt}")

Original text:-  kavin
Encrypted text:-  ndylq

In [ ]:
#43. Decode a Caesar cipher encoded string.

In [2]:
def caesar_decipher(encrypt, shift):
    result = ""
    for char in encrypt:
        if char.isalpha():
            if char.islower():
                shifted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            else:
                shifted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
        else:
            shifted_char = char
        result += shifted_char
    return result
encrypt = "ndylq"
shift = 3
decrypt = caesar_decipher(encrypt, shift)
print(f"encrypted string:- {encrypt}")
print(f"decrypted string:- {decrypt}")

encrypted string:- ndylq
decrypted string:- kavin

In [ ]:
#44. Find the most frequent word in a string.

In [47]:
string = 'This is the reality of the world'
freq_word = {}
words = string.lower().split()
for word in words:
    if word in freq_word:
        freq_word[word] += 1
    else:
        freq_word[word] = 1
most_freq_word = max(freq_word, key=freq_word.get)
print(most_freq_word)

the

In [ ]:
#45. Find all unique words in a string.

In [5]:
string = "India is a largest country. India has a huge population. India has many states."
string = string.lower().split()
unique_words = set()
for char in string:
    unique_words.add(char)
unique_words_list = list(unique_words)
for word in unique_words:
    print(word)

huge
has
a
largest
states.
population.
country.
is
many
india

In [ ]:
#46. Count the number of syllables in a string.

In [3]:
def syllable_count(word):
    word = word.lower()
    count = 0
    vowels = "aeiouy"
    if word[0] in vowels:
        count += 1
    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            count += 1
    if word.endswith("e"):
        count -= 1
    if count == 0:
        count += 1
    return count

print(syllable_count('DAIRY'))

2

In [ ]:
#47. Check if a string contains any special characters.

In [3]:
String = "Kavin, tender coconut"
special_characters = "@$%^&*('[,.?}]{')'/;\|':!#'"
contains_special_characters = False
for char in String:
    if char in special_characters:
        contains_special_characters = True
        break
if contains_special_characters:
    print("String contains special characters")
else:
    print("String does not contains special characters")

String contains special characters

In [ ]:
#48. Remove the nth word from a string.

In [5]:
string = "We enjoyed the movie last sunday"
string = string.split()
n = 3
if 0 <= n < len(string):
    del string[n]
    updated_string = ' '.join(string)
print(updated_string)

We enjoyed the last sunday

In [ ]:
#49. Insert a word at the nth position in a string.

In [7]:
string = "We enjoyed the last sunday"
insert_word = 'movie'
string = string.split()
n = 3
if 0 <= n < len(string):
    string.insert(n, insert_word)
    updated_string = ' '.join(string)
print(updated_string)

We enjoyed the movie last sunday

In [ ]:
#50. Convert a CSV string to a list of lists.

In [11]:
csv_string = "Name,Age,Location\nJohn,25,New York\nAlice,30,Los Angeles\nBob,22,Chicago"
lines = csv_string.split('\n')
csv_list_of_lists = []
for line in lines:
    csv_list_of_lists.append(line.split(','))
for row in csv_list_of_lists:
    print(row)

['Name', 'Age', 'Location']
['John', '25', 'New York']
['Alice', '30', 'Los Angeles']
['Bob', '22', 'Chicago']

# List Based Practice Problem

In [ ]:
#1. Create a list with integers from 1 to 10.

In [20]:
list1 = [i for i in range(1,11)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2. Find the length of a list without using the `len()` function.

In [21]:
list2 = [34,67,43,98,28]
length = 0
for i in list2:
    length += 1
print(length)

5

In [ ]:
#3. Append an element to the end of a list.

In [22]:
list3 = [1,2,3,4,5,6,7,8]
list3.append(9)
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#4. Insert an element at a specific index in a list.

In [23]:
list4 = [1,2,4]
list4.insert(2,3)
print(list4)

[1, 2, 3, 4]

In [ ]:
#5. Remove an element from a list by its value.

In [24]:
list5 = [10,20,30,40]
list5.remove(20)
print(list5)

[10, 30, 40]

In [ ]:
#6. Remove an element from a list by its index.

In [8]:
list6 = [1,2,3,4,5]
list6.pop(1)
print(list6)

[1, 3, 4, 5]

In [ ]:
#7. Check if an element exists in a list.

In [30]:
list7 = ["Zoho", "Tcs", "Wipro", "Infosys"]
if "Zoho" in list7:
    print("Zoho exists in the list")
else:
    print("Not exist")

Zoho exists in the list

In [ ]:
#8. Find the index of the first occurrence of an element in a list.

In [31]:
list8 = [1,2,3,4,3,5,3]
element_to_find = 3
index = None
for i in range(len(list8)):
    if list8[i] == element_to_find:
        index = i
        break
print(index)

2

In [ ]:
#9. Count the occurrences of an element in a list.

In [32]:
list8 = [1,2,3,4,3,5,3]
element_to_find = 3
count = 0
for i in range(len(list8)):
    if list8[i] == element_to_find:
        count += 1
print(count)

3

In [ ]:
#10. Reverse the order of elements in a list.

In [33]:
list8 = [1,2,3,4,3,5,3]
rev_list = list8[::-1]
print(rev_list)

[3, 5, 3, 4, 3, 2, 1]

In [ ]:
#11. Sort a list in ascending order.

In [37]:
list5 = [100,89,10,47,6,23]
list5.sort()
print(list5)

[6, 10, 23, 47, 89, 100]

In [ ]:
#12. Sort a list in descending order.

In [39]:
list5 = [100,89,10,47,6,23]
list5.sort(reverse = True)
print(list5)

[100, 89, 47, 23, 10, 6]

In [ ]:
#13. Create a list of even numbers from 1 to 20.

In [44]:
list_even = [i for i in range(1,21) if i % 2 == 0]
print(list_even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [45]:
#14. Create a list of odd numbers from 1 to 20.

In [46]:
list_odd = [i for i in range(1,21) if i % 2 != 0]
print(list_odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#15. Find the sum of all elements in a list.

In [47]:
list10 = [1,11,21,31,41,51,61,71,81,91]
list10 = sum(list10)
print(list10)

460

In [ ]:
#16. Find the maximum value in a list.

In [48]:
list10 = [1,11,21,31,41,51,61,71,81,91]
print(max(list10))

91

In [ ]:
#17. Find the minimum value in a list.

In [49]:
list10 = [1,11,21,31,41,51,61,71,81,91]
print(min(list10))

1

In [ ]:
#18. Create a list of squares of numbers from 1 to 10.

In [51]:
list_square = [i**2 for i in range(1,11)]
print(list_square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#19. Create a list of random numbers.

In [53]:
import random
random_list = [random.randint(1,100) for i in range(10)]
print(random_list)

[23, 98, 19, 20, 88, 26, 97, 5, 66, 58]

In [54]:
#20. Remove duplicates from a list.

In [55]:
duplicate_list = [1,2,3,4,3,5,3]
without_duplicate = list(set(duplicate_list))
print(without_duplicate)

[1, 2, 3, 4, 5]

In [ ]:
#21. Find the common elements between two lists.

In [57]:
listA = [1,2,3,4,5]
listB = [3,1,6,7,5]
common_elements = list(set(listA).intersection(listB))
print(common_elements)

[1, 3, 5]

In [ ]:
#22. Find the difference between two lists.

In [68]:
listA = [1,2,3,4,5]
listB = [3,1,6,7,5]
list_difference1 = list(set(listA).difference(listB))  
list_difference2 = list(set(listB).difference(listA))
print(list_difference1)
print(list_difference2)

[2, 4]
[6, 7]

In [ ]:
#23. Merge two lists.

In [70]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [ ]:
#24. Multiply all elements in a list by 2.

In [75]:
list1 = [1,2,3,4,5]
doubled_list = [x*2 for x in list1]
print(doubled_list)

[2, 4, 6, 8, 10]

In [ ]:
#25. Filter out all even numbers from a list.

In [78]:
list1 = [11,12,13,15,16,17,18,19,20]
filtered_list = [x for x in list1 if x % 2 != 0]
print(filtered_list)

[11, 13, 15, 17, 19]

In [ ]:
#26. Convert a list of strings to a list of integers.

In [79]:
list_str = ['1','2','3']
list_int = [int(x) for x in list_str]
print(list_int)

[1, 2, 3]

In [ ]:
#27. Convert a list of integers to a list of strings.

In [81]:
list_int = [1,2,3]
list_str = [str(x) for x in list_int]
print(list_str)

['1', '2', '3']

In [ ]:
#28. Flatten a nested list.

In [3]:
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))
        else:
            flat_list.append(item)
    return flat_list

nested_list = [1, [2, 3, [4, 5]], 6, [7, 8]]
flattened = flatten_list(nested_list)
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#29. Create a list of the first 10 Fibonacci numbers.

In [2]:
fibonacci_list = [0,1]
for i in range(2,10):
    next_fibonacci = fibonacci_list[i-1] + fibonacci_list[i-2]
    fibonacci_list.append(next_fibonacci)
print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#30. Check if a list is sorted.

In [4]:
a = [1,2,3,4,5]
is_sorted = True
for i in range(len(a)-1):
    if a[i] > a[i+1]:
        is_sorted = False
        break
else:
    print("The list is sorted")

The list is sorted

In [ ]:
#31. Rotate a list to the left by `n` positions.

In [6]:
listA = [1,2,3,4,5]
n = 2
rotated_list = listA[n:] + listA[:n]
print(rotated_list)

[3, 4, 5, 1, 2]

In [ ]:
#32. Rotate a list to the right by `n` positions.

In [7]:
listA = [1,2,3,4,5]
n = 2 
rotation_index = len(listA) - n
rotated_list = listA[rotation_index:] + listA[:rotation_index]
print(rotated_list)

[4, 5, 1, 2, 3]

In [ ]:
#33. Create a list of prime numbers up to 50.

In [10]:
prime_list = []
for num in range(2,51):
    is_prime = True
    for i in range(2,num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_list.append(num)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
#34. Split a list into chunks of size `n`.

In [12]:
my_list = [1,2,3,4,5,6,7,8,9]
n = 3
chunks = []
for i in range(0, len(my_list), n):
    chunk = my_list[i:i + n]
    chunks.append(chunk)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#35. Find the second largest number in a list.

In [15]:
my_list = [88,194,38,289,171,791]
my_list.sort()
second_largest = my_list[-2]
print(second_largest)

289

In [ ]:
#36. Replace every element in a list with its square.

In [16]:
mylist = [1,2,3,4,5]
square_list = [x**2 for x in mylist]
print(square_list)

[1, 4, 9, 16, 25]

In [ ]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [17]:
color = ['red','blue','yellow','black']
color_dict = dict(enumerate(color))
print(color_dict)

{0: 'red', 1: 'blue', 2: 'yellow', 3: 'black'}

In [ ]:
#38. Shuffle the elements of a list randomly.

In [18]:
import random
mylist = [6,7,8,9,10]
random.shuffle(mylist)
print(mylist)

[7, 9, 6, 10, 8]

In [ ]:
#39. Create a list of the first 10 factorial numbers.

In [21]:
factorial_list = [1]
factorial = 1
for num in range(1,10):
    for i in range(1, num+1):
        factorial = factorial * i
    factorial_list.append(factorial)
print(factorial_list)

[1, 1, 2, 12, 288, 34560, 24883200, 125411328000, 5056584744960000, 1834933472251084800000]

In [ ]:
#40. Check if two lists have at least one element in common.

In [22]:
list1 = [9,10,11,12,13]
list2 = [14,7,12,1,6]
if set(list1).intersection(list2):
    print("They atleast have one element in common")
else:
    print("They dont even have one element in common")

They atleast have one element in common

In [ ]:
#41. Remove all elements from a list.

In [23]:
dummy_list = ['cricket','football','handball']
dummy_list.clear()
print(dummy_list)

[]

In [ ]:
#42. Replace negative numbers in a list with 0.

In [5]:
mylist = [1,-2,3,-4,5,-6]
for i in range(len(mylist)):
    if mylist[i] < 0:
        mylist[i] = 0
print(mylist)

[1, 0, 3, 0, 5, 0]

In [ ]:
#43. Convert a string into a list of words.

In [8]:
string = "Have a nice day"
list_of_words = string.split() 
print(list_of_words)

['Have', 'a', 'nice', 'day']

In [ ]:
#44. Convert a list of words into a string.

In [10]:
list_of_words = ['Have', 'a', 'nice', 'day']
string = ' '.join(list_of_words)
print(string)

Have a nice day

In [ ]:
#45. Create a list of the first `n` powers of 2.

In [12]:
n = 5
powers = [2**x for x in range(5)]
print(powers)

[1, 2, 4, 8, 16]

In [ ]:
#46. Find the longest string in a list of strings.

In [13]:
list_of_string = ['volvo','bmw','nissan']
longest_string = " "
for string in list_of_string:
    if len(string) > len(longest_string):
        longest_string = string
print(longest_string)

nissan

In [ ]:
#47. Find the shortest string in a list of strings.

In [2]:
list_of_string = ['volvo','bmw','nissan']
shortest_string = list_of_string[0]
for string in list_of_string:
    if len(string) < len(shortest_string):
        shortest_string = string
print(shortest_string)

bmw

In [ ]:
#48. Create a list of the first `n` triangular numbers.

In [11]:
def tri_num(n):
    triangle_num = []
    sum = 0
    for i in range(1, n+1):
        sum = sum + i
        triangle_num.append(sum)
    return triangle_num
n = 10 
tri = tri_num(n)
print(tri)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [ ]:
#49. Check if a list contains another list as a subsequence.

In [6]:
def is_subsequence(sublist, mainlist):
    sub_len = len(sublist)
    main_len = len(mainlist)
    i, j = 0, 0

    while i < sub_len and j < main_len:
        if sublist[i] == mainlist[j]:
            i += 1
        j += 1

    return i == sub_len

main_list = [1, 2, 3, 4, 5, 6, 7, 8]
sub_list = [2, 4, 6]
result = is_subsequence(sub_list, main_list)

if result:
    print("The sub_list is a subsequence of the main_list.")
else:
    print("The sub_list is not a subsequence of the main_list.")

The sub_list is a subsequence of the main_list.

In [ ]:
#50. Swap two elements in a list by their indices.

In [7]:
def swap_elements_by_indices(lst, index1, index2):
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]

my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3

print("Original list:", my_list)
swap_elements_by_indices(my_list, index1, index2)
print("List after swapping elements:", my_list)

Original list: [1, 2, 3, 4, 5]
List after swapping elements: [1, 4, 3, 2, 5]

# Tuple Based Assignment Problem

In [ ]:
#1. Create a tuple with integers from 1 to 5.

In [11]:
my_tuple = (1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
#2. Access the third element of a tuple.

In [12]:
my_tuple = (1,2,3,4,5)
print(my_tuple[2])

3

In [ ]:
#3. Find the length of a tuple without using the `len()` function.

In [13]:
my_tuple = (1,2,3,4,5)
length = 0
for i in my_tuple:
    length = length + 1
print(length)

5

In [ ]:
#4. Count the occurrences of an element in a tuple.

In [16]:
my_tuple = (1,2,3,4,3,5,3,3)
element_to_count = 3
result = my_tuple.count(element_to_count)
print(result)

4

In [ ]:
#5. Find the index of the first occurrence of an element in a tuple.

In [17]:
my_tuple = (1,2,3,4,3,5,3,3)
element = 3
result = my_tuple.index(element)
print(result)

2

In [ ]:
#6. Check if an element exists in a tuple.

In [18]:
my_tuple = (1,2,3,4,5)
element = 4
if element in my_tuple:
    print(f"{element} exist in the tuple.")
else:
    print(f"{element} not exist in the tuple")

4 exist in the tuple.

In [ ]:
#7. Convert a tuple to a list.

In [19]:
my_tuple = (1,2,3,4,5)
result = list(my_tuple)
print(result)

[1, 2, 3, 4, 5]

In [ ]:
#8. Convert a list to a tuple.

In [20]:
my_list = [1,2,3,4,5]
result = tuple(my_list)
print(result)

(1, 2, 3, 4, 5)

In [ ]:
#9. Unpack the elements of a tuple into variables.

In [21]:
my_tuple = (1,2,3)
one,two,three = my_tuple
print(f"one:- {one}")
print(f"two:- {two}")
print(f"three:- {three}")

one:- 1
two:- 2
three:- 3

In [ ]:
#10. Create a tuple of even numbers from 1 to 10.

In [25]:
my_tuple = tuple(x for x in range(2, 11, 2))
print(my_tuple)

(2, 4, 6, 8, 10)

In [ ]:
#11. Create a tuple of odd numbers from 1 to 10.

In [26]:
my_tuple = tuple(x for x in range(1,11,2))
print(my_tuple)

(1, 3, 5, 7, 9)

In [ ]:
#12. Concatenate two tuples.

In [27]:
tuple1 = (1,3,5)
tuple2 = (2,4,6)
concatenate = tuple1 + tuple2
print(concatenate)

(1, 3, 5, 2, 4, 6)

In [ ]:
#13. Repeat a tuple three times.

In [29]:
my_tuple = (1,2)
repeated_tuple = my_tuple * 3
print(repeated_tuple)

(1, 2, 1, 2, 1, 2)

In [ ]:
#14. Check if a tuple is empty.

In [30]:
my_tuple = ()
if len(my_tuple)==0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

In [ ]:
#15. Create a nested tuple.

In [31]:
nested_tuple = (1,2,(3,4),(5,6))
print(nested_tuple)

(1, 2, (3, 4), (5, 6))

In [ ]:
#16. Access the first element of a nested tuple.

In [34]:
nested_tuple = ((1,2),(3,4),(5,6))
print(nested_tuple[0][0])

1

In [ ]:
#17. Create a tuple with a single element.

In [37]:
my_tup = (1,)
print(my_tup)
type(my_tup)

(1,)

tuple

In [ ]:
#18. Compare two tuples.

In [38]:
tup1 = (1,2,3)
tup2 = (1,2,3)
if tup1 == tup2:
    print("Both the tuples are equal")
else:
    print("Both the tuples are not equal")

Both the tuples are equal

In [ ]:
#19. Delete a tuple.

In [40]:
my_tup = (1,2,3,4)
del my_tup

In [ ]:
#20. Slice a tuple.

In [41]:
my_tup = (1,2,3,4,5,6,7)
print(my_tup[2:5])

(3, 4, 5)

In [ ]:
#21. Find the maximum value in a tuple.

In [42]:
my_tup = (1,2,3,4,5,6,7)
print(max(my_tup))

7

In [ ]:
#22. Find the minimum value in a tuple.

In [43]:
my_tup = (1,2,3,4,5,6,7)
print(min(my_tup))

1

In [ ]:
#23. Convert a string to a tuple of characters.

In [47]:
strr = "kavin"
tup = tuple(char for char in strr)
print(tup)

('k', 'a', 'v', 'i', 'n')

In [ ]:
#24. Convert a tuple of characters to a string.

In [51]:
tup = ('k', 'a', 'v', 'i', 'n')
strr = ''.join(tup)
print(strr)

kavin

In [ ]:
#25. Create a tuple from multiple data types.

In [53]:
tup = (1, "hi", False, 6.9, [3,7,9], {"name": "Kavin"})
print(tup)
type(tup)

(1, 'hi', False, 6.9, [3, 7, 9], {'name': 'Kavin'})

tuple

In [ ]:
#26. Check if two tuples are identical.

In [54]:
tup1 = (1,2,3)
tup2 = (1,3,2)
if tup1 == tup2:
    print("They are identical")
else:
    print("Not identical")

Not identical

In [ ]:
#27. Sort the elements of a tuple.

In [59]:
tup = (5,8,1,6,7,2,4,3)
sort_tuple = sorted(tup)
sort_tup = tuple(sort_tuple)
print(sort_tup)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
#28. Convert a tuple of integers to a tuple of strings.

In [62]:
tup = (1,2,3,4)
tup1 = tuple(str(i) for i in tup)
print(tup1)

('1', '2', '3', '4')

In [ ]:
#29. Convert a tuple of strings to a tuple of integers.

In [64]:
strr = ('1', '2', '3', '4')
tup = tuple(int(x) for x in strr)
print(tup)

(1, 2, 3, 4)

In [ ]:
#30. Merge two tuples.

In [65]:
tup1 = (1,2)
tup2 = (3,4)
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4)

In [ ]:
#31. Flatten a nested tuple.

In [66]:
def flatten_tuple(nested_tuple):
    flat_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_list.extend(flatten_tuple(item))
        else:
            flat_list.append(item)
    return tuple(flat_list)

nested_tuple = ((1, 2), (3, (4, 5)), (6, 7))
flattened = flatten_tuple(nested_tuple)
print(flattened)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
#32. Create a tuple of the first 5 prime numbers.

In [69]:
def prime(n):
    if n<=1:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True
prime_num = (num for num in range(2,20) if prime(num))
prime_tuple = tuple(prime_num)
print(prime_tuple[:5])

(2, 3, 5, 7, 11)

In [ ]:
#33. Check if a tuple is a palindrome.

In [73]:
def is_palindrome(tup):
    return tup == tup[::-1]
tup = (1,2,3,2,1)
if is_palindrome(tup):
    print("This tuple is palindrome")
else:
    print("This tuple is not a palindrome")

This tuple is palindrome

In [ ]:
#34. Create a tuple of squares of numbers from 1 to 5.

In [75]:
tup = (1,2,3,4,5)
sqr_tup = tuple(num**2 for num in tup)
print(sqr_tup)

(1, 4, 9, 16, 25)

In [ ]:
#35. Filter out all even numbers from a tuple.

In [77]:
tup = (1,2,3,4,5,6,7,8,9,10)
filt_tup = tuple(num for num in tup if num % 2 != 0)
print(filt_tup)

(1, 3, 5, 7, 9)

In [ ]:
#36. Multiply all elements in a tuple by 2.

In [78]:
tup = (2,4,6)
mul_tup = tuple(x*2 for x in tup)
print(mul_tup)

(4, 8, 12)

In [ ]:
#37. Create a tuple of random numbers.

In [79]:
import random
rand_num = tuple(random.randint(1,10) for i in range(5))
print(rand_num)

(2, 8, 10, 1, 8)

In [ ]:
#38. Check if a tuple is sorted.

In [80]:
tup = (1,5,2,1)
if tup == tuple(sorted(tup)):
    print("This tuple is sorted")
else:
    print("This tuple is not sorted")

This tuple is not sorted

In [ ]:
#39. Rotate a tuple to the left by `n` positions.

In [84]:
tup = (1,2,3,4,5)
n = 2
rotated_tup = tup[n:] + tup[:n]
print(rotated_tup)

(3, 4, 5, 1, 2)

In [ ]:
#40. Rotate a tuple to the right by `n` positions.

In [85]:
tup = (1,2,3,4,5)
n = 2
rotate_right = len(tup)-n
rotated_tup = tup[rotate_right:] + tup[:rotate_right]
print(rotated_tup)

(4, 5, 1, 2, 3)

In [ ]:
#41. Create a tuple of the first 5 Fibonacci numbers.

In [86]:
def fib(n):
    fibonacci = [0,1]
    while len(fibonacci) < n:
        next_num = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_num)
    return tuple(fibonacci)
print(fib(5))

(0, 1, 1, 2, 3)

In [ ]:
#42. Create a tuple from user input.

In [87]:
user_inp = input("Enter elements with space").split()
result = tuple(user_inp)
print(result)

Enter elements with spaceDhoni virat rohit
('Dhoni', 'virat', 'rohit')

In [ ]:
#43. Swap two elements in a tuple.

In [94]:
tup = (1,2,3,4,5)
a,b,c,d,e = tup
temp = a
a = b
b = temp
result = a,b,c,d,e
print(result)

(2, 1, 3, 4, 5)

In [ ]:
#44. Reverse the elements of a tuple.

In [95]:
tup = (1,3,5,7,9)
reverse_tup = tup[::-1]
print(reverse_tup)

(9, 7, 5, 3, 1)

In [ ]:
#45. Create a tuple of the first `n` powers of 2.

In [98]:
n = 5
power_of_2 = []
for i in range(1,n+1):
    power_of_2.append(i**2)
result = tuple(power_of_2)
print(result)

(1, 4, 9, 16, 25)

In [ ]:
#46. Find the longest string in a tuple of strings.

In [101]:
tup = ('kavin','mythili','naveena','manjunathan')
long_str = tup[0]
for word in tup:
    if len(word) > len(long_str):
        long_str = word
print(long_str)

manjunathan

In [ ]:
#47. Find the shortest string in a tuple of strings.

In [103]:
tup = ('kavin','mythili','naveena','manjunathan')
short_str = tup[0]
for word in tup:
    if len(word) < len(short_str):
        short_str = word
print(short_str)

kavin

In [ ]:
#48. Create a tuple of the first `n` triangular numbers.

In [3]:
n = 5  
triangular_numbers = [] 
for i in range(1, n + 1):
    triangular_number = (i * (i + 1)) // 2
    triangular_numbers.append(triangular_number)
triangular_tuple = tuple(triangular_numbers) 
print(triangular_tuple)

(1, 3, 6, 10, 15)

In [ ]:
#49. Check if a tuple contains another tuple as a subsequence.

In [1]:
def is_subsequence(sub, main):
    sub_len = len(sub)
    main_len = len(main)
    i = 0 
    j = 0 
    while i < main_len and j < sub_len:
        if main[i] == sub[j]:
            j += 1  
        i += 1  
    return j == sub_len
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (3, 4, 5)

if is_subsequence(sub_tuple, main_tuple):
    print("Subtuple is a subsequence of the main tuple")
else:
    print("Subtuple is not a subsequence of the main tuple")

Subtuple is a subsequence of the main tuple

In [ ]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

In [2]:
n = 10 
alternating_tuple = tuple(i % 2 for i in range(n))
print(alternating_tuple)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem :

In [ ]:
#1. Create a set with integers from 1 to 5.

In [4]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
#2. Add an element to a set.

In [6]:
my_set = {1,2,3,4,5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
#3. Remove an element from a set.

In [7]:
my_set = {1,2,3,4,5}
my_set.remove(4)
print(my_set)

{1, 2, 3, 5}

In [ ]:
#4. Check if an element exists in a set.

In [8]:
my_set = {1,2,3,4,5}
if 3 in my_set:
    print("exist")
else:
    print("not exist")

exist

In [ ]:
#5. Find the length of a set without using the `len()` function.

In [10]:
my_set = {1,2,3,4,5}
length = 0
for i in my_set:
    length = length + 1
print(length)

5

In [ ]:
#6. Clear all elements from a set.

In [11]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [ ]:
#7. Create a set of even numbers from 1 to 10.

In [14]:
my_set = {x for x in range(1,11) if x%2==0}
print(my_set)

{2, 4, 6, 8, 10}

In [ ]:
#8. Create a set of odd numbers from 1 to 10.

In [15]:
my_set = {x for x in range(1,10) if x%2 !=0}
print(my_set)

{1, 3, 5, 7, 9}

In [ ]:
#9. Find the union of two sets.

In [16]:
set_1 = {1,2,3}
set_2 = {4,5,6}
set_3 = set_1.union(set_2)
print(set_3)

{1, 2, 3, 4, 5, 6}

In [ ]:
#10. Find the intersection of two sets.

In [17]:
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}
set_3 = set_1.intersection(set_2)
print(set_3)

{4, 5}

In [ ]:
#11. Find the difference between two sets.

In [19]:
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}
set_3 = set_1.difference(set_2)
print(set_3)

{1, 2, 3}

In [ ]:
#12. Check if a set is a subset of another set.

In [23]:
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}
is_subset = set_2.issubset(set_1)
if is_subset:
    print("It's a subset")
else:
    print("Not a subset")

Not a subset

In [ ]:
#13. Check if a set is a superset of another set.

In [25]:
set_1 = {1,2,3,4,5}
set_2 = {4,5}
is_superset = set_1.issuperset(set_2)
if is_superset:
    print("It's a superset")
else:
    print("Not a superset")

It's a superset

In [ ]:
#14. Create a set from a list.

In [26]:
my_list = [1,2,3]
my_set = set(my_list)
print(my_set)

{1, 2, 3}

In [ ]:
#15. Convert a set to a list.

In [27]:
my_set = {1,2,3}
my_list = list(my_set)
print(my_list)

[1, 2, 3]

In [ ]:
#16. Remove a random element from a set.

In [28]:
my_set = {1,2,3,4,5}
remove = my_set.pop()
print(my_set)

{2, 3, 4, 5}

In [ ]:
#17. Pop an element from a set.

In [33]:
my_set = {0,6,3,4,5}
pop = my_set.pop()
print(my_set)

{3, 4, 5, 6}

In [ ]:
#18. Check if two sets have no elements in common.

In [35]:
set_1 = {1,2,3}
set_2 = {4,5,6}
no_common = set_1.isdisjoint(set_2)
print(no_common)

True

In [ ]:
#19. Find the symmetric difference between two sets.

In [37]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
symmetric_diff = set1.symmetric_difference(set2)
print(symmetric_diff)

{1, 2, 3, 6, 7, 8}

In [ ]:
#20. Update a set with elements from another set.

In [38]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [ ]:
#21. Create a set of the first 5 prime numbers.

In [4]:
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

def generate_first_n_primes(n):
    primes = []
    number = 2
    while len(primes) < n:
        if is_prime(number):
            primes.append(number)
        number += 1
    return primes
first_five_primes = set(generate_first_n_primes(5))
print(first_five_primes)

{2, 3, 5, 7, 11}

In [ ]:
#22. Check if two sets are identical.

In [37]:
set1 = {1,2,3,4}
set2 = {4,2,1,3}
if set1 == set2:
    print("They are identical")
else:
    print("Not identical")

They are identical

In [ ]:
#23. Create a frozen set

In [38]:
myset = frozenset([1,2,3])
print(myset)
type(myset)

frozenset({1, 2, 3})

frozenset

In [ ]:
#24. Check if a set is disjoint with another set.

In [9]:
set1 = {1,3,4}
set2 = {5,7,8}
result = set1.isdisjoint(set2)
if result:
    print("Its a disjoint")
else:
    print("Not a disjoint")

Its a disjoint

In [ ]:
#25. Create a set of squares of numbers from 1 to 5.

In [33]:
myset = {1,2,3,4,5}
result = set(x**2 for x in myset)
print(result)

{1, 4, 9, 16, 25}

In [ ]:
#26. Filter out all even numbers from a set.

In [32]:
myset = {22,89,76,54,31,18}
result = set(x for x in myset if x%2!=0)
print(result)

{89, 31}

In [ ]:
#27. Multiply all elements in a set by 2.

In [34]:
myset = {1,2,3,4,5}
result = set(x*2 for x in myset)
print(result)

{2, 4, 6, 8, 10}

In [ ]:
#28. Create a set of random numbers.

In [36]:
import random
random_set = set()
for i in range(10):
    random_num = random.randint(1,100)
    random_set.add(random_num)
print(random_set)

{33, 1, 97, 65, 98, 70, 38, 45, 55, 88}

In [ ]:
#29. Check if a set is empty.

In [28]:
myset = set()
if not myset:
    print("Set is empty")
else:
    print("Not empty")

Set is empty

In [ ]:
#30. Create a nested set (hint: use frozenset).

In [29]:
set1 = frozenset([1,2,3])
set2 = frozenset([4,5,6])
nested_set = {set1,set2}
print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [ ]:
#31. Remove an element from a set using the discard method.

In [19]:
myset = {1,2,3,4,5}
myset.discard(2)
print(myset)

{1, 3, 4, 5}

In [ ]:
#32. Compare two sets.

In [15]:
set1 = {1,2,3,4}
set2 = {1,2,3,4}
if set1 == set2:
    print("Both are equal")
else:
    print("Both are not equal")

Both are equal

In [ ]:
#33. Create a set from a string.

In [18]:
name = "kavin"
result = set(name)
print(result)

{'v', 'n', 'a', 'i', 'k'}

In [ ]:
#34. Convert a set of strings to a set of integers.

In [14]:
myset = {'1','3','5','7','9'}
result = set(int(x) for x in myset)
print(result)

{1, 3, 5, 7, 9}

In [12]:
#35. Convert a set of integers to a set of strings.

In [13]:
myset = {1,2,3,4,5}
result = set(str(x) for x in myset)
print(result)
type(result)

{'4', '5', '3', '2', '1'}

set

In [ ]:
#36. Create a set from a tuple.

In [1]:
mytup = (1,2,3,4,5)
myset = set(mytup)
print(myset)
type(myset)

{1, 2, 3, 4, 5}

set

In [ ]:
#37. Convert a set to a tuple.

In [9]:
myset = {6,8,9,7,2}
result = tuple(myset)
print(result)
type(result)

(2, 6, 7, 8, 9)

tuple

In [ ]:
#38. Find the maximum value in a set.

In [7]:
myset = {30,89,75,5,6}
print(max(myset))

89

In [ ]:
#39. Find the minimum value in a set

In [8]:
myset = {1,4,9,6,8}
print(min(myset))

1

In [ ]:
#40. Create a set from user input.

In [5]:
user_inp = input("Enter some values:- ")
myset = user_inp.split(",")
result = set(myset)
print(result)
type(result)

Enter some values:- kavin, 22, True
{'kavin', ' True', ' 22'}

set

In [ ]:
#41. Check if the intersection of two sets is empty.

In [5]:
set1 = {1,2,3}
set2 = {4,5,6}
result = set1.intersection(set2)
if len(result) == 0:
    print("Intersection of 2 sets is empty")
else:
    ("Not empty")

Intersection of 2 sets is empty

In [ ]:
#42. Create a set of the first 5 Fibonacci numbers.

In [13]:
def fib(n):
    fib_num = set()
    a,b = 0,1
    for i in range(n+1):
        fib_num.add(a)
        a,b = b, a+b
    return fib_num
result = fib(5)
print(result)

{0, 1, 2, 3, 5}

In [ ]:
#43. Remove duplicates from a list using sets.

In [6]:
mylist = [1,2,2,1,3,1,1]
result = set(mylist)
print(result)

{1, 2, 3}

In [ ]:
#44. Check if two sets have the same elements, regardless of their count.

In [20]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
are_equal = set1 == set2

if are_equal:
    print("The sets have the same elements, regardless of their count.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements, regardless of their count.

In [ ]:
#45. Create a set of the first `n` powers of 2.

In [7]:
n = 5
result = set(x**2 for x in range(1,n+1))
print(result)

{1, 4, 9, 16, 25}

In [ ]:
#46. Find the common elements between a set and a list.

In [14]:
myset = {1,2,3}
mylist = [3,4,5]
result = myset.intersection(mylist)
print(result)

{3}

In [ ]:
#47. Create a set of the first `n` triangular numbers.

In [16]:
def triangular_numbers(n):
    tri_num = set()
    current_number = 1
    total = 0
    for _ in range(n):
        total += current_number
        tri_num.add(total)
        current_number += 1
    return tri_num
n = 5
first_n_triangular = triangular_numbers(n)
print(first_n_triangular)

{1, 3, 6, 10, 15}

In [ ]:
#48. Check if a set contains another set as a subset.

In [17]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}
is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [ ]:
#49. Create a set of alternating 1s and 0s of length `n`.

In [19]:
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        alternating_set.add(i % 2)
    return alternating_set
n = 10
alternating_set = create_alternating_set(n)
print(alternating_set)

{0, 1}

In [ ]:
#50. Merge multiple sets into one.

In [8]:
set1 = {1,2,3}
set2 = {4,5,6}
set3 = {5,6,7,8,9}
result = set1.union(set2,set3)
print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 9}